{% extends "base.html" %}
{% block body %}

<h1>FAQ Page</h1>

<h3>Frequently Asked Questions</h3>

<table style="width:100%">
    <tr>
      <th>Questions</th>
      <th>Answers</th>
    </tr>
    
    <tr>
      <td>Where can I see how much money I have available?</td>
      <td>You can see information about your account value in the Portfolio page.</td>
    </tr>

    <tr>
        <td>Where can I buy/sell my stock?</td>
        <td>You can buy or sell stocks on the Trade page.</td>
      </tr>

      <tr>
        <td>How do I add more money to my trading account?</td>
        <td>You can add more money in the Transaction page. There you can select an account to add money to.</td>
      </tr>

      <tr>
        <td>Where can I see my latest purchase?</td>
        <td>You can view your recent order history in the Portfolio page under History.</td>
      </tr>

      <tr>
        <td>Why can't I place an order?</td>
        <td>Most likely you either do not have enough money to buy the said quantity of that stock or the quantity requested is not available.</td>
      </tr>

</table>


{% endblock %}