{% extends "base.html" %}
{% block body %}

<h1>Sign up Now</h1>

<form method="post">
    <div class="mb-3">
      <label for="username" class="form-label">Create a username (max 20 characters):</label>
      <input type="text" class="form-control" id="username", name="username", minlength="2", maxlength="20">
    </div>
    <!--put something here to check if the username's already taken-->
    <!--detect profanity and ban it-->
    <div class="mb-3">
        <label for="password" class="form-label">Create a password:</label>
        <input type="password" class="form-control" id="password", name="password", minlength="8", maxlength="20">
        <!--Put a requirement for special characters-->
        <!--notify the user that the password isn't good enough-->
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Retype the password:</label>
        <input type="password" class="form-control" id="password", name="password", minlength="8", maxlength="20">
        <!--Either use regex or javascript to see if the passwords match-->
        <!--notify the user that the passwords don't match-->
    </div>
    <button type="submit" class="btn btn-primary">Sign up!</button><br><br>
</form>

<a href="login">Already have an account? Login</a>

{% endblock %}